@import url(../css/default.css);
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Charm:wght@400;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --jost: "Jost", sans-serif;
    --charm: "Charm", cursive;
    --prompt: "Prompt", sans-serif;
    --primary: #054c43;
    --secondery: #125b54;
}
@media (min-width: 1200px) {
.container {
    max-width: 1400px;
}
}
body {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* scrollUp */
#scrollUp {
    background: var(--primary);
    height: 50px;
    width: 50px;
    right: 50px;
    bottom: 77px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 48px;
}

#scrollUp:hover {
    background: #222;
}
/*header top area styles*/
.header-top {
    padding: 7px 0;
    background: var(--primary);
    border-bottom: 1px solid #ddd;
}
.common-btn{
    color: #fff;
    background-color: var(--primary);
    transition: 0.5s;
}
.common-btn:hover{
    background-color: var(--secondery);
}

.ht-social {
    float: right;
}

.ht-email span {
    font-size: 14px;
    color: #fff;
}
.ht-email span a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.ht-social a {
    /* background: #fff; */
    color: #fff;
    height: 25px;
    line-height: 25px;
    width: 25px;
    font-size: 16px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    transition: 0.5s;
}

.ht-social a:hover {
    transform: scale(1.1);
    background: var(--bd2);
    color: #fff;
}

/*header area styles*/

.logo {
    width: 100px;
    transition: 0.5s;
}

.navbar {
    padding: 0;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 1px solid #ddd;
    background: #fff;
    transition: 0.5s;
}

.menu-area > ul {
    margin: 0;
    padding: 0;
}

.menu-area > ul > li {
    list-style: none;
    display: inline-block;
}

.menu-area ul li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.dropdown-menu1 ul li a .fa {
    margin-right: 5px;
}

.menu-area > ul > li > a {
    text-decoration: none;
    color: var(--tm);
    padding: 32px 15px;
    display: block;
    transition: 0.5s;
}

.menu-area ul li a:hover {
    color: var(--primary);
}

.logo-image {
    margin-top: 15px;
}

.menu-active {
    color: brown !important;
}

.dropdown-menu1 {
    position: absolute;
    background: #fff;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
    box-shadow: var(--shadow);
    border-top: var(--border);
}

.dm-software {
    width: 630px;
}

.dropdown-menu1 ul {
    margin: 0;
    padding: 0;
}

.dropdown-menu1 ul li {
    list-style: none;
}

.dropdown-menu1 ul li a {
    text-decoration: none;
    color: var(--tm);
    padding: 7px 10px;
    display: block;
    padding: 10px;
    transition: 0.4s;
    text-transform: capitalize;
}

.dropdown-menu1 ul li a:hover {
    background: var(--primary);
    color: #fff;
}

.dd-btn1:hover .dropdown-menu1 {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.dropdown-menu2 {
    position: absolute;
    left: 100%;
    top: 0;
    background: #fff;
    width: 220px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
}

.dd-btn2 {
    position: relative;
}

.dd-btn2:hover .dropdown-menu2 {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

/*toggler css*/

.menu-icon {
    display: none;
}

.menu-icon {
    float: right;
}

.menu-icon {
    color: var(--tn);
    font-size: 30px;
    cursor: pointer;
}

/*on scrolled css*/

header.scrolled .menu-area > ul > li > a {
    padding: 20px 15px !important;
}

header.scrolled {
    transition: 0.5s;
}

header.scrolled .logo {
    width: 70px !important;
}

/*mobile menu styles*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100%;
    background: #fdfdfd;
    transition: 0.3s;
    z-index: 9999;
    border-right: 1px solid #ddd;
    overflow: scroll;
}

.mobile-menu-active {
    left: 0;
}

.mm-logo {
    border-bottom: 1px solid #ddd;
}

.mm-logo .logo {
    width: 130px;
    padding: 10px 15px;
}

.menu-link a {
    display: block;
    padding: 10px 15px;
    color: var(--tm);
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
    font-family: var(--fl);
    text-decoration: none;
}

.mobile-menu a .fa {
    color: var(--tn);
}

.menu-link a .fa-plus {
    float: right;
    margin-top: 5px;
}

.menu-link a .fa-minus {
    float: right;
    margin-top: 5px;
}

.menu-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-body ul li {
    border-bottom: 1px solid #ddd;
}

.menu-body .card-body {
    padding: 0;
    background: #fafafa;
}

.menu-body ul li a {
    padding: 10px 10px;
    display: block;
    color: var(--tm);
    text-decoration: none;
    font-family: var(--fl);
}

.mm-logo {
    position: relative;
}

.mm-cross-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.mm-cross-icon .fa {
    font-size: 20px;
    color: var(--ttm);
}

.mm-ci {
    cursor: pointer;
}

/*slider section styles*/
.carousel-item img {
    height: 450px;
}
/*---Banner section styles*/
.slowgan-box {
    text-align: center;
  }

  .slowgan-box span {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(90deg, #f53147, #ffc300, #0a7156, #007bff);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: animateGradient 4s ease-in-out infinite;
  }

  @keyframes animateGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.home-banner-section {
    background-color: #1c1c1c;
}
canvas {
    position: relative;
    height: 388px !important;
}
.banner-box {
    position: absolute;
    left: 0;
    bottom: -266px;
}
.banner-box > h1 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-box > h4 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
/*what we do section styles*/
/*what we do section styles*/
.section-title {
    margin-bottom: 40px;
    text-align: center;
}

.section-title h2 {
    color: #333;
    font-size: 22px;
    font-family: var(--jost);
    text-transform: uppercase;
}

.section-title h2::after {
    content: "";
    height: 4px;
    width: 90px;
    background: #054c43;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

/*About us style*/
#about-us {
    background:linear-gradient(rgba(15, 103, 4, 0.5), rgba(15, 103, 4, 0.5)), url('../images/about-bg.jpg');
    padding: 100px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us-content h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.about-us-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 600;
}

.learn-more-btn {
    background-color: var(--primary);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
    background-color: var(--secondery);
    color: #fff;
}

.about-us-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*section title*/
.service-section {
    background-image: linear-gradient(to right top, #cbedee, #f3f2f3);
}
.services-box {
    padding: 20px 10px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
    background: #fff;
    box-shadow: var(--shadow-hover);
    color: #000;
    height: 265px;
    transition: all 0.5s ease-in-out;
}
.service-overly {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #03342e;
    transition: all 0.5s ease-in-out;
}

.services-box > .fa {
    font-size: 50px;
    margin-top: 10px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    color: var(--primary);
    margin-bottom: 20px;
}

.services-box > h5 {
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    color: var(--tm);
    font-weight: 600;
}

.services-box > p {
    color: var(--tm);
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    font-weight: 500;
}

.services-box a {
    color: #ffffff;
    display: inline-block;
    padding: 4px 10px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    background: var(--primary);
}

.services-box:hover .service-overly {
    bottom: 0;
}

.services-box .fa,
h5,
p,
a {
    position: relative;
    z-index: 1;
}
.services-box:hover .fa {
    color: #fff;
}
.services-box:hover h5 {
    color: #fff;
}
.services-box:hover p {
    color: #fff;
}
.services-box:hover a {
    color: #fff;
    border: 2px solid #fff;
}

/*satisfication section styles*/
.satisfications-section {
    background-image: linear-gradient(
        45deg,
        hsl(60deg 47% 93%) 0%,
        hsl(68deg 48% 93%) 11%,
        hsl(75deg 48% 94%) 22%,
        hsl(83deg 48% 95%) 33%,
        hsl(92deg 47% 95%) 44%,
        hsl(101deg 46% 96%) 56%,
        hsl(111deg 44% 96%) 67%,
        hsl(122deg 42% 97%) 78%,
        hsl(132deg 43% 97%) 89%,
        hsl(140deg 43% 97%) 100%
    );
}
.sf-box {
    background-color: #fff;
    padding: 0px 0px;
    box-shadow: var(--shadow-hover);
    border-radius: 9px;
    border: 2px solid #054c43;
    transition: all 0.5s ease-in-out;
}
.sf-icon-box {
    margin-bottom: 20px;
}

.sf-icon-box .fa {
    margin-top: 37px;
    font-size: 35px;
    margin-bottom: 7px;
    color: #6185c3;
}
.sf-txt-box{
    background-color: var(--primary);
}

.sf-icon-box > h5 {
    color: var(--primary);
    font-size: 28px;
    margin: 0;
}
.sf-txt-box > h5 {
    color: #fff;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    padding: 5px 0px;
}
.sf-box:hover{
    rotate: 360deg;
}

/*footer section styles*/
.footer-section {
    background: #0a403b;
    padding: 50px 0;
    color: #fff;
}

.ft-logo img {
    width: 80px;
    margin-bottom: 10px;
}

.ft-item {
    padding: 0 15px;
    margin-bottom: 20px;
}

.ft-title {
    font-family: var(--fl);
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.ft-item ul {
    margin: 0;
    padding-left: 18px;
    list-style: none;
}

.ft-item ul li {
    line-height: 1.9;
    list-style: none;
}

.ft-item ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-family: var(--fl);
    transition: 0.5s;
}

.ft-item ul li a .fa {
    color: var(--tm);
}

.ft-item ul li a:hover {
    color: var(--td);
}

.ft-contact {
    line-height: 1.9;
}

.ft-contact .fa {
    padding: 7px;
    padding-left: 0;
    padding-right: 10px;
    color: #fff;
}

.ft-contact span {
    font-size: 15px;
}

.ft-contact span a {
    color: var(--td);
}

.ft-social a {
    background: #fff;
    color: var(--tm);
    height: 35px;
    line-height: 35px;
    width: 35px;
    box-shadow: 0 0px 1px 0px var(--tm);
    font-size: 16px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    transition: 0.5s;
}

.ft-social a:hover {
    transform: scale(1.1);
    background: var(--bm);
    color: #fff;
}

.ft-logo p {
    font-size: 15px;
    font-family: var(--fl);
    margin: 10px 0;
}

/*copyrigh area styles*/
.copyright {
    background: var(--primary);
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

/*project list section styles*/
.r-box {
    margin-bottom: 50px;
    border-radius: 5px;
    overflow: hidden;
    border: var(--border);
    box-shadow: var(--shadow);
    transition: 0.5s;
}

.r-box:hover {
    box-shadow: var(--shadow-hover);
    transform: var(--animate);
}

.pro-name h5 {
    font-weight: bold;
    font-family: var(--fu);
    font-size: 16px;
    text-transform: uppercase;
}

.report-section {
    padding: 60px 0;
}

.report-btn {
    text-align: center;
}

.report-btn ul li {
    display: inline-block;
    margin: 0 5px;
}

.report-btn ul li a {
    background: #fff;
    color: #333;
    box-shadow: 0px 0px 10px #ddd;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.5s;
    display: inline-block;
}

.report-btn ul li a:hover {
    background: #c70039;
    color: #fff;
}

.active-btn {
    background: #c70039 !important;
    color: #fff !important;
}

.r-image {
    transition: 0.5s;
}

.r-image img {
    width: 100%;
}

.r-box:hover .r-txt {
    bottom: 30px;
    opacity: 1;
}

.r-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.r-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 50%);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}

.r-txt {
    position: absolute;
    bottom: -50px;
    left: 20px;
    transition: 0.5s;
    opacity: 0;
}

.r-box:hover .r-image::before {
    opacity: 1;
}

.r-txt p {
    color: #fff;
    font-size: 20px;
}

.r-txt a {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    background: var(--primary);
    text-align: center;
}

.control-btn button {
    background: var(--td2);
    color: #fff;
    padding: 5px 10px;
    border: none;
    outline: none;
    margin: 0 2px;
    border-radius: 4px;
    box-shadow: 0px 5px 7px -1px #666;
}

button.mixitup-control-active {
    background: var(--bd);
}

.mfp-ready {
    z-index: 99999999999999999999999999999;
}

.mfp-bg {
    opacity: 0.9;
}

.project-list-btn a {
    display: inline-block;
    border: 2px solid var(--primary);
    padding: 5px 25px;
    border-radius: 5px;
    color: var(--primary);
    transition: 0.5s;
    text-decoration: none;
}

.project-list-btn a:hover {
    background: var(--primary);
    color: #fff;
}
.pro-name{
    background-color: var(--primary);
    color: #fff;
}
/*start contact us section*/

.contact-us-box {
    box-shadow: var(--shadow);
    border: var(--border);
}

/*team-area styles*/
.segment-box {
    margin-bottom: 20px;
    transition: 0.4s;
}

.segment-box:hover {
    transform: var(--animate);
}

.segment-box:hover .segment-txt {
    box-shadow: var(--shadow-hover);
}

.senment-btn {
    text-align: center;
    transform: translate(0, -50%);
    margin-top: -57px;
}

.senment-btn a {
    background: #f7eb61;
    padding: 10px 15px;
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 3px 3px #73d2e6;
    transition: 0.3s;
}

.senment-btn a:hover {
    background: linear-gradient(to right, #73d2e6, #f7eb61);
}

.segment-box2 {
    /* background: #fff; */
}

.segment-txt {
    text-align: center;
    background: #fff;
    width: 86%;
    margin: 0 auto;
    transform: translate(0, -50%);
    padding: 10px;
    padding-bottom: 18px;
    box-shadow: var(--shadow);
    transition: 0.4s;
    border-radius: 7px;
}

.segment-txt h5 {
    margin: 0;
    font-size: 16px;
    font-size: 18px;
    font-weight: 600;
}

.segment-txt p {
    margin: 0;
    font-size: 14px;
}

.segment-txt a {
    height: 28px;

    width: 28px;

    line-height: 28px;

    background: var(--bd);

    display: inline-block;

    color: #fff;

    margin: 0 2px;

    border-radius: 2px;

    font-size: 14px;
}

.segment-img img {
    height: 290px;

    width: 100%;
}
/*training details styles*/
.td-banner {
    background: linear-gradient(rgb(30 49 51 / 92%), rgb(30 49 51 / 92%)),
        url(img/td-banner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.td-banner1 {
    padding: 30px 0;
}

.td-banner2 {
    background: rgba(49, 176, 213, 0.2);
}

.couser-duration {
    margin: 0;
    padding: 0;
    list-style: none;
}

.couser-duration li {
    display: inline-block;
    margin: 0 5px;
    font-weight: 600;
}

.couser-duration li span {
    font-weight: 300;
    font-size: 15px;
}

.couser-duration li .fa {
    margin-right: 3px;
}

.courser-schdule-wrape {
    margin: 0;
    padding: 0;
    list-style: none;
}

.course-berief-details {
    border: var(--border);
    box-shadow: var(--shadow);
}

.tdesc-right {
    border: var(--border);
    box-shadow: var(--shadow);
}

.td2-right p {
    text-align: center;
}

.td2-right a {
    background: var(--bd);
    color: #fff;
    padding: 5px 45px;
    border-radius: 5px;
    width: 224px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.tdesc-right h5 {
    color: #0054a5;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.tdesc-right h5::after {
    content: "";
    height: 2px;
    width: 50px;
    background: #0054a5;
    display: block;
    margin-top: 4px;
}

.tdesc-right span {
    text-align: center;
    display: block;
    color: var(--td);
    font-size: 21px;
    font-weight: 600;
    margin-top: 15px;
}

.en-btn {
    display: inline-block;
    text-decoration: none !important;
    background: var(--td);
    color: #fff !important;
    padding: 3px 12px;
    margin-top: 7px;
    border-radius: 5px;
}

/*about section styles*/
.about-txt h5 {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--tm);
}

.about-txt p {
    font-size: 15px;
}

/*howt it work section styles*/

.how-it-work {
    padding-top: 120px;
}

.how-it-image {
    position: relative;
}

.hiw-img2 {
    position: absolute;
    top: -48px;
    left: 0;
}

.hiw-txt h5 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.hiw-txt img {
    width: 400px;
}

.hiw-txt h5::after {
    content: "";
    height: 2px;
    width: 40px;
    background: var(--bd);
    display: block;
    margin-top: 5px;
}

/* -----Consultancy--------*/
.consultancy-section {
    background: #fff;
}
.contact-image {
    text-align: center;
    background: var(--primary);
    padding: 8px 0px;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
}
.contact-image > h3 {
    font-size: 33px;
    font-weight: 700;
    font-family: var(--charm);
    color:#fff;
    margin: 0;
}
.consultancy-box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px 15px;
    border: 2px solid var(--primary);
    border-radius: 7px;
}
.consult-img > img {
    width: 100%;
}
/*---Start contact-section-----*/
.contact-section {
    background: #f4f6ff;
    padding: 20px 0;
}
.form-section {
    background: #fff;
    padding: 60px 40px;
}
.address h4,
.email h4,
.phone h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.address p {
    margin-bottom: 0px;
    color: #fff;
    font-weight: 500;
}
.email,
.address,
.phone {
    background: var(--primary);
    text-align: center;
    padding: 6px 0px;
    margin-bottom: 7px;
    border-radius: 5px;
    color: #fff;
}

.email a,
.phone a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.map-section {
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    overflow: hidden;
}
/*------about us-----*/
.about-section {
    background-color: #f8f9fa;
    padding: 50px 20px;
}

.team-section {
    padding: 50px 20px;
}

.core-value {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 14px 18px;
    border-radius: 10px;
    text-align: center;
}
.tem-box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 14px 18px;
    border-radius: 10px;
}
.tem-box img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.director-box {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 22px 12px;
    border-radius: 15px;
}
.director-box img{
    width: 200px;
    border-radius: 50%;
}
.director-box .box-content{
    margin-top: 5px;
}
.director-box .box-content .title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.director-box .box-content .post {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.director-box .box-content > p {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}
.director-box .box-content span a{
    text-decoration: none;
    color: var(--primary);
}

/*------team-----*/
.box16{text-align:center;color:#fff;position:relative}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16 .post,.box16 .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}
.box16:hover:after{background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)}
.box16 img{width:100%;height:auto}
.box16 .box-content{padding:20px;margin-bottom:20px;bottom:0;z-index:1}
.box16 .title{font-size:22px;font-weight:700;text-transform:uppercase;margin:0 0 10px}
.box16 .post{display:block;padding:8px 0;font-size:15px}
.box16 .social li a,.box17 .icon li a{border-radius:50%;font-size:20px;color:#fff}
.box16:hover .post,.box16:hover .title{transform:translateY(0)}
.box16 .social{list-style:none;padding:0 0 5px;margin:40px 0 25px;opacity:0;position:relative;transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);transition:all .6s cubic-bezier(0,0,.58,1) 0s}
.box16:hover .social{opacity:1;transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)}
.box16 .social:before{content:"";width:50px;height:2px;background:#fff;margin:0 auto;position:absolute;top:-23px;left:0;right:0}
.box16 .social li{display:inline-block}
.box16 .social li a{display:block;width:40px;height:40px;line-height:40px;background:var(--primary);margin-right:10px;transition:all .3s ease 0s}
.box17 .icon li,.box17 .icon li a{display:inline-block}
.box16 .social li a:hover{background:#bea041}
.box16 .social li:last-child a{margin-right:0}
@media only screen and (max-width:990px){.box16{margin-bottom:30px}
}
